.buttons{
    cursor: pointer;
    border-width: 1px;
    border-radius: 35px;
    border: 0.0625em solid var(--border-color);
    transition: all 0.2s;
    text-align: center;
    color: var(--text-btns);
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.06em 0.2em;
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 0.999, 0, 0);
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
}
.devicesbtn {
    padding: 0.32em 0.4em 0.32em 0.4em;
    font-size: calc(50% + 0.35vw);
    border-radius: 17px;
    height: 2em;
    font-weight: 300;
    /* position: absolute; */
    background-color: var(--background-btn-devices);
    background-image: linear-gradient(to top right, var(--bg-image-btn-from), var(--bg-image-btn-to));
    border-color: var(--border-color-devices);
    color: var(--text-btns);
}
.wrapperbtn {
    background: var(--background-btn-wrapper);
    background-image: linear-gradient(to top right, var(--bg-image-btn-from), var(--bg-image-btn-to));
    font-family: 'Titillium Web', sans-serif;
}
.copybtn {
    padding: 0.15em 0.5em;
    font-size: 1.5vmin;
    flex-direction: row;
    justify-content: space-between;
    width: 4.5em;
}
body > div > div > div > button.buttons.devicesbtn > div > svg{
    font-size: 16px;
    margin: 0 0.5em;
}
body > div > div > div > button.buttons.devicesbtn > p{
    margin: 0 0.5em;
}

/* BOTONES ANIMACION*/
.buttons::before{
    background-color: var(--background-btn-wrapper-hover1);
}
.buttons::after{
    background-color: var(--background-btn-wrapper-hover2);
}
.buttons::before, .buttons::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    will-change: transform; 
}
.buttons:hover::before, .buttons:hover::after {
    transform: translate3d(0, 100%, 0); 
} 
.buttons:hover::after {
    transition-delay: 0.15s; 
}
.buttons:hover {
    background-color: var(--hover-btn-wrapper);
    font-weight: 600;
    border-color: var(--border-color-wrapper-hover);
    color: var(--text-hover-button-devices);
}
.buttons:active{
    background-color: var(--active-btn-wrapper);
    border-color: var(--border-color-wrapper-hover);
    color: var(--text-active-btn);
}
/* FOOTER BUTTONS */

.protom_guide, .dcr_guide {
    width: 7.4em;
    font-size: 0.905em;
    border-radius: 25px;
    height: 1.75em;
}
.homebtn {
    width: 5.8em;
    justify-content: space-between;
}
.homebtn {
    margin-right: 0.8em;
    align-items: center;
}
.backbtn, .homebtn {
    padding: 0.725em 1em;
    border-radius: 25px;
}
.day-night, .backbtn, .homebtn {
    padding: 1.125em 1em;
    font-size: 1.25em;
    margin-right: 0.8em;
}

/* Device Buttons */
