html {
    font-size: 62.5%; /* 1em is 10px */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background: var(--background);
    background-image: linear-gradient(to bottom, var(--bg-image-body-from), var(--bg-image-body-to));
    font-weight: 300;
    height: 100%;
}

.app {
    margin-top: 2em;
    display: grid;
    justify-items: center;
}